version: 2
updates:
  - package-ecosystem: "nuget"
    directory: "/"
    target-branch: "dev"
    schedule:
      interval: "weekly"
  - package-ecosystem: "docker"
    directory: "/"
    target-branch: "dev"
    schedule:
      interval: "weekly"
  - package-ecosystem: "github-actions"
    directory: "/"
    target-branch: "dev"
    schedule:
      interval: "weekly"